In [6]:
import os, glob
import sys
import pandas as pd

from IPython.display import display

In [9]:
sys.path.append("/Users/nikkibytes/Documents/git_nibl/bbx/data/code/")

In [10]:
import data_dict

# Building the BBX Data Dictionary 

## TOC:
* [Load Your Data](#dataload)
* [](#)

## Load Your Data <a class="anchor" id="dataload"></a>

In [41]:
# Set data paths
data_path ='/Users/nikkibytes/Documents/git_nibl/bbx/data/behavioral/data_dict'


# Grab list of behavioral files found in the data bath (raw and clean data)
raw_behaviorals=glob.glob(os.path.join(data_path, "bbx_w1behav_raw_09242020.csv"))
clean_behaviorals= glob.glob(os.path.join(data_path,  "bbx_w1behav_cleandata_*.xlsx"))

# Print the filepaths found
print("[INFO] raw behavioral data files founds: %s \
\n[INFO] clean behavioral data files found: %s"%(raw_behaviorals, clean_behaviorals))

[INFO] raw behavioral data files founds: ['/Users/nikkibytes/Documents/git_nibl/bbx/data/behavioral/data_dict/bbx_w1behav_raw_09242020.csv']
[INFO] clean behavioral data files found: ['/Users/nikkibytes/Documents/git_nibl/bbx/data/behavioral/data_dict/bbx_w1behav_cleandata_082819.xlsx']

In [43]:
# Load behavioral data
s1_raw_behav=pd.read_csv(raw_behaviorals[0])
s1_clean_behav=pd.read_excel(clean_behaviorals[0])

In [34]:
# Build dataframes from data_dictionary file, 
# scoring and conversion information found in these files
measures_df = pd.read_excel(os.path.join(data_path,'bbx_datadictionary.xlsx' ), sep='\t', sheet_name="bbx_codebook")
var_score_df = pd.read_excel(os.path.join(data_path, 'bbx_datadictionary.xlsx'),  sep='\t', sheet_name="scoring")
var_df = pd.read_excel(os.path.join(data_path,'bbx_datadictionary.xlsx' ), sep='\t', sheet_name="bbx_cbookfmt")

**View Dataframes:**

In [36]:
display(measures_df.head())
display(var_df.head())
display(var_score_df.head())

,NAME,LENGTH,LABEL,vartype,unit,n,nmiss,mean,std,min,max,outlier ID
0,participantID,NaN,Participant ID,char,NaN,132.0,0.0,NaN,NaN,NaN,NaN,NaN
1,w1behav_date,NaN,Recorded Date,num,MM/DD/YY,132.0,0.0,NaN,NaN,NaN,NaN,NaN
2,w1behav_height_1,NaN,Height (cm),num,cm,132.0,0.0,168.315152,8.922745,150.0,189.5,NaN
3,w1behav_weight_1,NaN,Weight (kg),num,kg,132.0,0.0,66.220455,11.826421,47.5,115.7,NaN
4,w1behav_bmi,NaN,BMI (kg/m^2),num,kg/m^2,132.0,0.0,23.109034,3.104824,18.1,34.6,NaN

       Variable Name Range                   Format Label
0  w1behav_ethnicity     0     0 = Non-Hispanic or Latino
1                NaN     1          1= Hispanic or Latino
2       w1behav_race     1                      1 = White
3                NaN     2  2 = Black or African American
4                NaN     3                      3 = Asian

,Set,Output,Calculation,Description,Notes
0,FFQ,w1ffq##_kcal,w1behav_ffq## * kcal_ffq##,Total kcal consumed for each food variable,kcal_ffq## comes from FFQ excel sheet
1,FFQ,w1ffq_avgkcal,SUM(w1ffq##_kcal) / 14,Average kcal consumed each day for the reporte...,NaN
2,FFQ,w1ffq##_gfat,w1behav_ffq## * fat_ffq##,Total fat grams consumed for each food variable,fat_ffq## comes from FFQ excel sheet
3,FFQ,w1ffq##_fatkcal,SUM(w1ffq##_gfat) * 9,Total kcal derived from fat consumed for each ...,NaN
4,FFQ,w1ffq_pctfat,SUM(w1ffq##_fatkcal)/SUM(w1ffq##_kcal)*100,Percent of total kcal derived from fat,NaN

## Data Cleaning <a anchor='class' id="dataclean"></a>

* dropping excess rows  
* dropping excess columns 
* separate into multiple dfs for variable calculation  

Note-
* need to possibly remove or edit missing values (i.e NaN)  
* need to properly marked sub ID

In [37]:
# get session 1 raw behavioral file

['/Users/nikkibytes/Documents/git_nibl/bbx/data/behavioral/data_dict/bbx_w1behav_raw_09242020.csv']

In [ ]:

# get rid of leading, irrelevant rows  
# run ONLY ONCE
behav_df.drop([0,1,2,3,4,5,6], inplace=True)