In [178]:
import os, glob
import sys
import pandas as pd

from IPython.display import display

In [179]:
sys.path.append("/Users/nikkibytes/Documents/git_nibl/bbx/data/code/")

In [180]:
#import data_dict

# Building the BBX Data Dictionary 

## TOC:
* [Load Your Data](#dataload)
* [Data Cleaning](#dataclean)
* [Data Translation](#datatrans)

## Load Your Data <a class="anchor" id="dataload"></a>

In [181]:
# Set data paths

data_path='/Users/nikkibytes/Documents/git_nibl/bbx/data/behavioral/data_dict'


# Grab list of behavioral files found in the data bath (raw and clean data)
raw_behaviorals=glob.glob(os.path.join(data_path, "bbx_w1behav_raw_09242020.csv"))
#clean_behaviorals= glob.glob(os.path.join(data_path,  "w1behavclean*.xlsx"))

# Print the filepaths found
#print("[INFO] raw behavioral data files founds: %s \
#\n[INFO] clean behavioral data files found: %s"%(raw_behaviorals, clean_behaviorals))

In [182]:
# Load behavioral data
s1_raw_behav=pd.read_csv(raw_behaviorals[0])
#s1_clean_behav=pd.read_excel(clean_behaviorals[0])

In [183]:
# Build dataframes from data_dictionary file, 
# scoring and conversion information found in these files
measures_df = pd.read_excel(os.path.join(data_path,'bbx_datadictionary.xlsx' ), sep='\t', sheet_name="bbx_codebook")
var_score_df = pd.read_excel(os.path.join(data_path, 'bbx_datadictionary.xlsx'),  sep='\t', sheet_name="scoring")
var_df = pd.read_excel(os.path.join(data_path,'bbx_datadictionary.xlsx' ), sep='\t', sheet_name="bbx_cbookfmt")

**View Dataframes:**

In [184]:
display(measures_df.head())
display(var_df.head())
display(var_score_df.head())

,NAME,LENGTH,LABEL,vartype,unit,n,nmiss,mean,std,min,max,outlier ID
0,participantID,NaN,Participant ID,char,NaN,132.0,0.0,NaN,NaN,NaN,NaN,NaN
1,w1behav_date,NaN,Recorded Date,num,MM/DD/YY,132.0,0.0,NaN,NaN,NaN,NaN,NaN
2,w1behav_height_1,NaN,Height (cm),num,cm,132.0,0.0,168.315152,8.922745,150.0,189.5,NaN
3,w1behav_weight_1,NaN,Weight (kg),num,kg,132.0,0.0,66.220455,11.826421,47.5,115.7,NaN
4,w1behav_bmi,NaN,BMI (kg/m^2),num,kg/m^2,132.0,0.0,23.109034,3.104824,18.1,34.6,NaN

       Variable Name Range                   Format Label
0  w1behav_ethnicity     0     0 = Non-Hispanic or Latino
1                NaN     1          1= Hispanic or Latino
2       w1behav_race     1                      1 = White
3                NaN     2  2 = Black or African American
4                NaN     3                      3 = Asian

,Set,Output,Calculation,Description,Notes
0,FFQ,w1ffq##_kcal,w1behav_ffq## * kcal_ffq##,Total kcal consumed for each food variable,kcal_ffq## comes from FFQ excel sheet
1,FFQ,w1ffq_avgkcal,SUM(w1ffq##_kcal) / 14,Average kcal consumed each day for the reporte...,NaN
2,FFQ,w1ffq##_gfat,w1behav_ffq## * fat_ffq##,Total fat grams consumed for each food variable,fat_ffq## comes from FFQ excel sheet
3,FFQ,w1ffq##_fatkcal,SUM(w1ffq##_gfat) * 9,Total kcal derived from fat consumed for each ...,NaN
4,FFQ,w1ffq_pctfat,SUM(w1ffq##_fatkcal)/SUM(w1ffq##_kcal)*100,Percent of total kcal derived from fat,NaN

## Data Cleaning <a anchor='class' id="dataclean"></a>

* dropping excess rows  
* dropping excess columns 
* separate into multiple dfs for variable calculation  

Note-
* need to possibly remove or edit missing values (i.e NaN)  
* need to properly marked sub ID

**Cleaning session 1 files**

In [185]:
print("[INFO] raw behavioral file: ")
display(s1_raw_behav.head())

[INFO] raw behavioral file:

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,SC6,SC7,SC8,SC9,SC10,SC11,SC12,SC13,SC14,BMI
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,DEBQ: External Eating,Handedness,BAS: Drive,BAS: Fun Seeking,BAS: Reward Responsiveness,BIS,SPSRQ: SP,SPSRQ: SR,FCI,BMI
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""SC_ezkxfZnqgCqd2tv""}","{""ImportId"":""SC_d4KypOOtGQTazHf""}","{""ImportId"":""SC_3yLllYJsbQLbDhj""}","{""ImportId"":""SC_bEgBBU9SRiHfMfb""}","{""ImportId"":""SC_0kzddozJeiesAq9""}","{""ImportId"":""SC_brQGnvjcth6zMLr""}","{""ImportId"":""SC_ezCKJGC3TtJbvBr""}","{""ImportId"":""SC_eDkfp1W4wY7g34N""}","{""ImportId"":""SC_bmk9Sn4mX7WwDv7""}","{""ImportId"":""BMI_DERIVEDzm1gplk""}"
2,2018-02-05 12:27:50,2018-02-09 11:06:01,IP Address,152.23.56.122,100,340690,True,2018-02-09 11:06:02,R_2EuE6gv1qyMOWxF,NaN,...,30,24,16,16,20,22,30,30,148,125.6532152707214
3,2018-02-12 12:28:14,2018-02-12 12:43:57,Survey Preview,NaN,100,942,True,2018-02-12 12:43:57,R_2c7csMlkT52V2o0,NaN,...,14,24,11,10,10,13,32,31,164,900.9009009009009
4,2018-02-14 10:35:00,2018-02-14 11:11:27,IP Address,152.23.126.65,100,2187,True,2018-02-14 11:11:29,R_2f1nUIDPQigizsq,NaN,...,46,24,0,0,0,0,0,0,168,24.19881656804733

In [186]:
# get rid of leading, irrelevant rows  
# WARNING: run ONLY ONCE
s1_raw_behav.drop([0,1,2,3,4,5,6], inplace=True)

In [187]:
print("[INFO] raw behavioral file (note the dropped rows): ")
display(s1_raw_behav.head())

[INFO] raw behavioral file (note the dropped rows):

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,SC6,SC7,SC8,SC9,SC10,SC11,SC12,SC13,SC14,BMI
7,2018-03-19 07:44:07,2018-03-19 09:22:59,IP Address,152.23.86.81,100,5931,True,2018-03-19 09:23:01,R_2SrhSBMJXhLwPbo,NaN,...,29,24,11,11,16,18,33,32,134,21.07869282404572
8,2018-03-19 12:15:21,2018-03-19 13:35:15,IP Address,152.23.86.81,100,4793,True,2018-03-19 13:35:16,R_2wvooa4ew57SG93,NaN,...,21,22,9,12,19,21,28,21,111,34.55075679991884
9,2018-03-23 13:40:24,2018-03-23 14:58:57,IP Address,152.23.213.32,100,4711,True,2018-03-23 14:58:58,R_2b3sEMOtTJmktVl,NaN,...,35,22,12,10,19,19,36,37,143,22.85640495867769
10,2018-03-23 15:04:04,2018-03-23 16:20:11,IP Address,152.23.213.32,98,4566,False,2018-03-24 11:54:33,R_4JdBh5aSkJ67kPL,NaN,...,34,23,14,13,18,18,18,34,113,20.37629412663135
11,2018-03-28 10:16:59,2018-03-28 11:40:50,IP Address,152.23.86.81,100,5031,True,2018-03-28 11:40:52,R_2dnKdQ1rXBZaTAA,NaN,...,28,24,14,14,20,23,32,38,162,21.77145582582835

In [188]:
# We find columns we don't want to keep by finding what columns are not 
# in the clean excel reference file
# -note we are keeping BMI and Recorded date, unlike the reference file

drop_list = [ 'Status', 'IPAddress', 'ResponseId', 'RecipientLastName',
             'RecipientFirstName', 'RecipientEmail', 'ExternalReference',
             'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 
             'UserLanguage']
print('\n[INFO] dropping these columns from the behavioral file. \n\n',drop_list)

[INFO] dropping these columns from the behavioral file.

 ['Status', 'IPAddress', 'ResponseId', 'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 'UserLanguage']

In [189]:
# drop columns
s1_raw_behav.drop(drop_list, axis=1, inplace=True)

In [190]:
print("[INFO] current behavioral dataframe:")
display(s1_raw_behav.head())

[INFO] current behavioral dataframe:

,StartDate,EndDate,Progress,Duration (in seconds),Finished,RecordedDate,w1behav_assessor,participantID,w1behav_consent,w1behav_height_1,...,SC6,SC7,SC8,SC9,SC10,SC11,SC12,SC13,SC14,BMI
7,2018-03-19 07:44:07,2018-03-19 09:22:59,100,5931,True,2018-03-19 09:23:01,Gandee bauert,BBX_001,Yes,155.7,...,29,24,11,11,16,18,33,32,134,21.07869282404572
8,2018-03-19 12:15:21,2018-03-19 13:35:15,100,4793,True,2018-03-19 13:35:16,Gandee jones,BBX_002,Yes,167.9,...,21,22,9,12,19,21,28,21,111,34.55075679991884
9,2018-03-23 13:40:24,2018-03-23 14:58:57,100,4711,True,2018-03-23 14:58:58,Gandee,bbx_005,Yes,176.0,...,35,22,12,10,19,19,36,37,143,22.85640495867769
10,2018-03-23 15:04:04,2018-03-23 16:20:11,98,4566,False,2018-03-24 11:54:33,Gandee,bbx_004,Yes,167.4,...,34,23,14,13,18,18,18,34,113,20.37629412663135
11,2018-03-28 10:16:59,2018-03-28 11:40:50,100,5031,True,2018-03-28 11:40:52,Bauert,BBX 006,Yes,163.5,...,28,24,14,14,20,23,32,38,162,21.77145582582835

In [191]:
#list(s1_raw_behav.keys())


## Data Translations <a anchor="class" id="datatrans"></a>

### Data Numerical Translation 
Converting the string data found in the behavioral to their corresponding numerical value.

In [192]:
ffq_df = s1_raw_behav.filter(regex="ffq", axis=1)

bis_df = s1_raw_behav.filter(regex="bis", axis=1)

fci_df = s1_raw_behav.filter(regex="fci", axis=1)

debq_df = s1_raw_behav.filter(regex="debq", axis=1)

ipaq_df = s1_raw_behav.filter(regex="ipaq", axis=1)

hand_df = s1_raw_behav.filter(regex="hand", axis=1)

spsrq_df = s1_raw_behav.filter(regex="spsrg", axis=1)

yfas_df = s1_raw_behav.filter(regex="yfas", axis=1)

bisbas_df = s1_raw_behav.filter(regex="bisbas", axis=1)

pfs_df = s1_raw_behav.filter(regex="pfs", axis=1)

In [193]:
#display(var_df)
new_name = ''
for x in var_df["Variable Name"]:
    #print(x, new_name)
    if type(x) == str:
        #print('X: ', x)
        y = x.split("_")[1]
        #print('Y: ', y)
        var_df["Variable Name"].replace(x, y, inplace=True)

print('[INFO] updated version: ', var_df)

[INFO] updated version:     Variable Name Range                   Format Label
0      ethnicity     0     0 = Non-Hispanic or Latino
1            NaN     1          1= Hispanic or Latino
2           race     1                      1 = White
3            NaN     2  2 = Black or African American
4            NaN     3                      3 = Asian
..           ...   ...                            ...
74         sleep     1                  1 = Very good
75           NaN     2              2 = Somewhat good
76           NaN     3                    3 = Average
77           NaN     4              4 = Somewhat poor
78           NaN     5                  5 = Very poor

[79 rows x 3 columns]

In [194]:
#display(var_df)

for index, value in var_df["Variable Name"].iteritems():
    #print(index, value)
    if type(value) == str:
        new_name=value
        #print(new_name)
        
    else:
        #print("renaming {} to {}".format(value, new_name))
        #print(cookbook_df.loc[index, "Variable Name"])
        var_df.loc[index, "Variable Name"] = new_name
print('[INFO] final updated version: ', var_df)

[INFO] final updated version:     Variable Name Range                   Format Label
0      ethnicity     0     0 = Non-Hispanic or Latino
1      ethnicity     1          1= Hispanic or Latino
2           race     1                      1 = White
3           race     2  2 = Black or African American
4           race     3                      3 = Asian
..           ...   ...                            ...
74         sleep     1                  1 = Very good
75         sleep     2              2 = Somewhat good
76         sleep     3                    3 = Average
77         sleep     4              4 = Somewhat poor
78         sleep     5                  5 = Very poor

[79 rows x 3 columns]

In [195]:
var_df["Variable Name"].unique()

array(['ethnicity', 'race', 'gender', 'ffq##', 'bis##', 'fci#1', 'fci#2',
       'debq##', 'ipaq##', 'hand##', 'spsrq##', 'yfas', 'yfas17',
       'bisbas##', 'pfs##', 'hrsfasting', 'sex', 'sleep'], dtype=object)

In [196]:
fci1_code= var_df.loc[var_df["Variable Name"] == 'fci#1' ]
display('[INFO] fci1: ', fci1_code)
fci2_code= var_df.loc[var_df["Variable Name"] == 'fci#2' ]
display('[INFO] fci2: ', fci2_code)

display('[INFO] original: ', fci_df.head())

for val in fci1_code["Format Label"]:
    code_str = val.split("=")[1].lstrip(" ")
    code_range = val.split("=")[0].strip(" ")
    #print(code_str ,code_range)
    fci_df.replace(code_str, code_range, inplace=True)
    

for val in fci2_code["Format Label"]:
    code_str = val.split("=")[1].lstrip(" ")
    code_range = val.split("=")[0].strip(" ")
    #print(code_str ,code_range)
    fci_df.replace(code_str, code_range, inplace=True)  

display('[INFO] updated version: ', fci_df.head())

'[INFO] fci1: '

   Variable Name Range                 Format Label
22         fci#1     1                    1 = Never
23         fci#1     2   2 = Rarely (once or twice)
24         fci#1     3                3 = Sometimes
25         fci#1     4                    4 = Often
26         fci#1     5  5 = Always/Almost Every Day

'[INFO] fci2: '

   Variable Name Range       Format Label
27         fci#2     1        1 = Dislike
28         fci#2     2  2 = Like a Little
29         fci#2     3     3 = Like a Lot
30         fci#2     4           4 = Love

'[INFO] original: '

,w1behav_fci#1_1,w1behav_fci#1_2,w1behav_fci#1_3,w1behav_fci#1_4,w1behav_fci#1_5,w1behav_fci#1_6,w1behav_fci#1_7,w1behav_fci#1_8,w1behav_fci#1_9,w1behav_fci#1_10,...,w1behav_fci#2_19,w1behav_fci#2_20,w1behav_fci#2_21,w1behav_fci#2_22,w1behav_fci#2_23,w1behav_fci#2_24,w1behav_fci#2_25,w1behav_fci#2_26,w1behav_fci#2_27,w1behav_fci#2_28
7,Rarely (once or twice),Sometimes,Sometimes,Never,Rarely (once or twice),Sometimes,Sometimes,Never,Rarely (once or twice),Sometimes,...,Like a Little,Like a Little,Like a Little,Like a Little,Like a Little,Like a Little,Like a Little,Love,Like a Little,Dislike
8,Sometimes,Sometimes,Never,Never,Never,Never,Never,Rarely (once or twice),Never,Rarely (once or twice),...,Like a Lot,Dislike,Like a Lot,Dislike,Dislike,Dislike,Like a Lot,Like a Lot,Like a Lot,Like a Little
9,Sometimes,Sometimes,Never,Never,Never,Never,Sometimes,Sometimes,Rarely (once or twice),Never,...,Dislike,Like a Little,Like a Lot,Dislike,Love,Like a Lot,Love,Like a Little,Like a Lot,Like a Little
10,Sometimes,Sometimes,Never,Never,Never,Never,Rarely (once or twice),Rarely (once or twice),Never,Never,...,Like a Little,Like a Little,Like a Little,Like a Lot,Like a Little,Like a Lot,Like a Lot,Like a Little,Like a Lot,Like a Little
11,Sometimes,Often,Rarely (once or twice),Rarely (once or twice),Often,Rarely (once or twice),Sometimes,Sometimes,Sometimes,Never,...,Like a Lot,Like a Lot,Love,Love,Love,Like a Lot,Love,Like a Little,Like a Little,Like a Little

/Users/nikkibytes/miniconda3/lib/python3.7/site-packages/pandas/core/frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

'[INFO] updated version: '

,w1behav_fci#1_1,w1behav_fci#1_2,w1behav_fci#1_3,w1behav_fci#1_4,w1behav_fci#1_5,w1behav_fci#1_6,w1behav_fci#1_7,w1behav_fci#1_8,w1behav_fci#1_9,w1behav_fci#1_10,...,w1behav_fci#2_19,w1behav_fci#2_20,w1behav_fci#2_21,w1behav_fci#2_22,w1behav_fci#2_23,w1behav_fci#2_24,w1behav_fci#2_25,w1behav_fci#2_26,w1behav_fci#2_27,w1behav_fci#2_28
7,2,3,3,1,2,3,3,1,2,3,...,2,2,2,2,2,2,2,4,2,1
8,3,3,1,1,1,1,1,2,1,2,...,3,1,3,1,1,1,3,3,3,2
9,3,3,1,1,1,1,3,3,2,1,...,1,2,3,1,4,3,4,2,3,2
10,3,3,1,1,1,1,2,2,1,1,...,2,2,2,3,2,3,3,2,3,2
11,3,4,2,2,4,2,3,3,3,1,...,3,3,4,4,4,3,4,2,2,2

In [197]:
fci_calc =  var_score_df[var_score_df['Set'] == "FCI"]

In [203]:
## FCI Calculations

In [213]:
for index, row in fci_calc[0:1].iterrows():
    output= row["Output"]
    calc = row["Calculation"]
    #method = calc.split("(")[0]
      # starting calculation
    if "MEAN" in calc:
        final_avg=0
        
        total_sum = 0 
        # stripped away the SUM and "()" 
        variables = calc.strip("MEAN").strip("()")
        variables=[x.strip(" ") for x in variables.split(",") ]
        var_ct=len(variables)
        #print(var_ct)

        # loop through variables 
        for x in variables:
            var=x
            #print(index)
            # have target variable, find numeric value in df
            var_val = fci_df.loc[index, var]
            print("Adding variable, {}: {},  to {} ".format(var,var_val, total_sum))
            #print(fci_df.loc[index, :])
            total_sum += int(var_val)
            
        print("TOTAL SUM: ", total_sum)
        print("MEAN: ", total_sum/var_ct)

Adding variable, w1behav_fci#1_3: 1,  to 0
Adding variable, w1behav_fci#1_6: 1,  to 1
Adding variable, w1behav_fci#1_4: 1,  to 2
Adding variable, w1behav_fci#1_15: 1,  to 3
Adding variable, w1behav_fci#1_26: 1,  to 4
Adding variable, w1behav_fci#1_19: 3,  to 5
Adding variable, w1behav_fci#1_10: 1,  to 8
Adding variable, w1behav_fci#1_27: 1,  to 9
TOTAL SUM:  10
MEAN:  1.25