In [70]:
import os, glob
import sys
import pandas as pd

from IPython.display import display

In [71]:
sys.path.append("/Users/nikkibytes/Documents/git_nibl/bbx/data/code/")

In [72]:
import data_dict

# Building the BBX Data Dictionary 

## TOC:
* [Load Your Data](#dataload)
* [Data Cleaning](#dataclean)
* [Data Translation](#datatrans)

## Load Your Data <a class="anchor" id="dataload"></a>

In [110]:
# Set data paths
data_path ='/Users/nikkibytes/Documents/git_nibl/bbx/data/behavioral/data_dict'


# Grab list of behavioral files found in the data bath (raw and clean data)
raw_behaviorals=glob.glob(os.path.join(data_path, "bbx_w1behav_raw_09242020.csv"))
clean_behaviorals= glob.glob(os.path.join(data_path,  "w1behavclean*.xlsx"))

# Print the filepaths found
print("[INFO] raw behavioral data files founds: %s \
\n[INFO] clean behavioral data files found: %s"%(raw_behaviorals, clean_behaviorals))

[INFO] raw behavioral data files founds: ['/Users/nikkibytes/Documents/git_nibl/bbx/data/behavioral/data_dict/bbx_w1behav_raw_09242020.csv']
[INFO] clean behavioral data files found: ['/Users/nikkibytes/Documents/git_nibl/bbx/data/behavioral/data_dict/w1behavclean.xlsx']

In [111]:
# Load behavioral data
s1_raw_behav=pd.read_csv(raw_behaviorals[0])
s1_clean_behav=pd.read_excel(clean_behaviorals[0])

In [112]:
# Build dataframes from data_dictionary file, 
# scoring and conversion information found in these files
measures_df = pd.read_excel(os.path.join(data_path,'bbx_datadictionary.xlsx' ), sep='\t', sheet_name="bbx_codebook")
var_score_df = pd.read_excel(os.path.join(data_path, 'bbx_datadictionary.xlsx'),  sep='\t', sheet_name="scoring")
var_df = pd.read_excel(os.path.join(data_path,'bbx_datadictionary.xlsx' ), sep='\t', sheet_name="bbx_cbookfmt")

**View Dataframes:**

In [113]:
display(measures_df.head())
display(var_df.head())
display(var_score_df.head())

,NAME,LENGTH,LABEL,vartype,unit,n,nmiss,mean,std,min,max,outlier ID
0,participantID,NaN,Participant ID,char,NaN,132.0,0.0,NaN,NaN,NaN,NaN,NaN
1,w1behav_date,NaN,Recorded Date,num,MM/DD/YY,132.0,0.0,NaN,NaN,NaN,NaN,NaN
2,w1behav_height_1,NaN,Height (cm),num,cm,132.0,0.0,168.315152,8.922745,150.0,189.5,NaN
3,w1behav_weight_1,NaN,Weight (kg),num,kg,132.0,0.0,66.220455,11.826421,47.5,115.7,NaN
4,w1behav_bmi,NaN,BMI (kg/m^2),num,kg/m^2,132.0,0.0,23.109034,3.104824,18.1,34.6,NaN

       Variable Name Range                   Format Label
0  w1behav_ethnicity     0     0 = Non-Hispanic or Latino
1                NaN     1          1= Hispanic or Latino
2       w1behav_race     1                      1 = White
3                NaN     2  2 = Black or African American
4                NaN     3                      3 = Asian

,Set,Output,Calculation,Description,Notes
0,FFQ,w1ffq##_kcal,w1behav_ffq## * kcal_ffq##,Total kcal consumed for each food variable,kcal_ffq## comes from FFQ excel sheet
1,FFQ,w1ffq_avgkcal,SUM(w1ffq##_kcal) / 14,Average kcal consumed each day for the reporte...,NaN
2,FFQ,w1ffq##_gfat,w1behav_ffq## * fat_ffq##,Total fat grams consumed for each food variable,fat_ffq## comes from FFQ excel sheet
3,FFQ,w1ffq##_fatkcal,SUM(w1ffq##_gfat) * 9,Total kcal derived from fat consumed for each ...,NaN
4,FFQ,w1ffq_pctfat,SUM(w1ffq##_fatkcal)/SUM(w1ffq##_kcal)*100,Percent of total kcal derived from fat,NaN

## Data Cleaning <a anchor='class' id="dataclean"></a>

* dropping excess rows  
* dropping excess columns 
* separate into multiple dfs for variable calculation  

Note-
* need to possibly remove or edit missing values (i.e NaN)  
* need to properly marked sub ID

**Cleaning session 1 files**

In [114]:
print("[INFO] raw behavioral file: ")
display(s1_raw_behav.head())

[INFO] raw behavioral file:

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,SC6,SC7,SC8,SC9,SC10,SC11,SC12,SC13,SC14,BMI
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,DEBQ: External Eating,Handedness,BAS: Drive,BAS: Fun Seeking,BAS: Reward Responsiveness,BIS,SPSRQ: SP,SPSRQ: SR,FCI,BMI
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""SC_ezkxfZnqgCqd2tv""}","{""ImportId"":""SC_d4KypOOtGQTazHf""}","{""ImportId"":""SC_3yLllYJsbQLbDhj""}","{""ImportId"":""SC_bEgBBU9SRiHfMfb""}","{""ImportId"":""SC_0kzddozJeiesAq9""}","{""ImportId"":""SC_brQGnvjcth6zMLr""}","{""ImportId"":""SC_ezCKJGC3TtJbvBr""}","{""ImportId"":""SC_eDkfp1W4wY7g34N""}","{""ImportId"":""SC_bmk9Sn4mX7WwDv7""}","{""ImportId"":""BMI_DERIVEDzm1gplk""}"
2,2018-02-05 12:27:50,2018-02-09 11:06:01,IP Address,152.23.56.122,100,340690,True,2018-02-09 11:06:02,R_2EuE6gv1qyMOWxF,NaN,...,30,24,16,16,20,22,30,30,148,125.6532152707214
3,2018-02-12 12:28:14,2018-02-12 12:43:57,Survey Preview,NaN,100,942,True,2018-02-12 12:43:57,R_2c7csMlkT52V2o0,NaN,...,14,24,11,10,10,13,32,31,164,900.9009009009009
4,2018-02-14 10:35:00,2018-02-14 11:11:27,IP Address,152.23.126.65,100,2187,True,2018-02-14 11:11:29,R_2f1nUIDPQigizsq,NaN,...,46,24,0,0,0,0,0,0,168,24.19881656804733

In [115]:
# get rid of leading, irrelevant rows  
# WARNING: run ONLY ONCE
s1_raw_behav.drop([0,1,2,3,4,5,6], inplace=True)

In [116]:
print("[INFO] raw behavioral file (note the dropped rows): ")
display(s1_raw_behav.head())

[INFO] raw behavioral file (note the dropped rows):

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,SC6,SC7,SC8,SC9,SC10,SC11,SC12,SC13,SC14,BMI
7,2018-03-19 07:44:07,2018-03-19 09:22:59,IP Address,152.23.86.81,100,5931,True,2018-03-19 09:23:01,R_2SrhSBMJXhLwPbo,NaN,...,29,24,11,11,16,18,33,32,134,21.07869282404572
8,2018-03-19 12:15:21,2018-03-19 13:35:15,IP Address,152.23.86.81,100,4793,True,2018-03-19 13:35:16,R_2wvooa4ew57SG93,NaN,...,21,22,9,12,19,21,28,21,111,34.55075679991884
9,2018-03-23 13:40:24,2018-03-23 14:58:57,IP Address,152.23.213.32,100,4711,True,2018-03-23 14:58:58,R_2b3sEMOtTJmktVl,NaN,...,35,22,12,10,19,19,36,37,143,22.85640495867769
10,2018-03-23 15:04:04,2018-03-23 16:20:11,IP Address,152.23.213.32,98,4566,False,2018-03-24 11:54:33,R_4JdBh5aSkJ67kPL,NaN,...,34,23,14,13,18,18,18,34,113,20.37629412663135
11,2018-03-28 10:16:59,2018-03-28 11:40:50,IP Address,152.23.86.81,100,5031,True,2018-03-28 11:40:52,R_2dnKdQ1rXBZaTAA,NaN,...,28,24,14,14,20,23,32,38,162,21.77145582582835

In [117]:
# We find columns we don't want to keep by finding what columns are not 
# in the clean excel reference file
# -note we are keeping BMI and Recorded date, unlike the reference file

drop_list = [ 'Status', 'IPAddress', 'ResponseId', 'RecipientLastName',
             'RecipientFirstName', 'RecipientEmail', 'ExternalReference',
             'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 
             'UserLanguage']
print('\n[INFO] dropping these columns from the behavioral file. \n\n',drop_list)

[INFO] dropping these columns from the behavioral file.

 ['Status', 'IPAddress', 'ResponseId', 'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 'UserLanguage']

In [118]:
# drop columns
s1_raw_behav.drop(drop_list, axis=1, inplace=True)

In [119]:
display(s1_raw_behav.head())

,StartDate,EndDate,Progress,Duration (in seconds),Finished,RecordedDate,w1behav_assessor,participantID,w1behav_consent,w1behav_height_1,...,SC6,SC7,SC8,SC9,SC10,SC11,SC12,SC13,SC14,BMI
7,2018-03-19 07:44:07,2018-03-19 09:22:59,100,5931,True,2018-03-19 09:23:01,Gandee bauert,BBX_001,Yes,155.7,...,29,24,11,11,16,18,33,32,134,21.07869282404572
8,2018-03-19 12:15:21,2018-03-19 13:35:15,100,4793,True,2018-03-19 13:35:16,Gandee jones,BBX_002,Yes,167.9,...,21,22,9,12,19,21,28,21,111,34.55075679991884
9,2018-03-23 13:40:24,2018-03-23 14:58:57,100,4711,True,2018-03-23 14:58:58,Gandee,bbx_005,Yes,176.0,...,35,22,12,10,19,19,36,37,143,22.85640495867769
10,2018-03-23 15:04:04,2018-03-23 16:20:11,98,4566,False,2018-03-24 11:54:33,Gandee,bbx_004,Yes,167.4,...,34,23,14,13,18,18,18,34,113,20.37629412663135
11,2018-03-28 10:16:59,2018-03-28 11:40:50,100,5031,True,2018-03-28 11:40:52,Bauert,BBX 006,Yes,163.5,...,28,24,14,14,20,23,32,38,162,21.77145582582835

In [122]:
#list(s1_raw_behav.keys())

## Data Translations <a anchor="class" id="datatrans"></a>